fastapi==0.115.0
uvicorn==0.30.6
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
statsmodels==0.14.2
pulp==2.7.0
python-multipart==0.0.9
pydantic==2.8.2
jinja2==3.1.4
openai==1.43.0
pyarrow==17.0.0
sqlalchemy==2.0.32
google-generativeai==0.8.3